.welcome{
  line-height: 2.5;
  color: white;
}
.bg-image{
  background-size: cover;
  padding: 0px;
  border: 0px;
  margin: 0px;

}
.text-center{
  line-height:200%;
  padding: 30px;
  border: 200px;
  margin: 20px;

}
.msclick{
  text-align: center;
  line-height: 1500%;
}
.form{
  text-align: center;
  color: white;
}
.contact{
  text-align: center;
  color: white;
}
.footer{
  text-align: center;
  
}

.containner{
  justify-content: center;
}
.container2{
  justify-content: center;
}
.whatwdo{
  padding: 20px;
  border: 20px;
  margin: 20px;
  
}
.portfolio{
  padding: 20px;
  justify-content: center;
  border: 20px;
  margin: 20px;
}
.col{
  padding: 0px;
  margin: 0px;
}
.body{
  padding-left: 20px;
}