.welcome{
  line-height: 2.5;
  color: white;
}
.bg-image{
  background-size: cover;
  padding: 16px;
  border: 16px;
  margin: 16px;

}
.text-center{
  line-height:200%;
  padding: 30px;
  border: 200px;
  margin: 20px;

}
.msclick{
  text-align: center;
  line-height: 1500%;
}
.form{
  text-align: center;
  color: white;
  background-color: transparent;
}
.contact{
  text-align: center;
  color: white;
}
.footer{
  text-align: center;
  
}

.containner{
  justify-content: center;
}
.container2{
  justify-content: center;
  padding: 20px;
  margin: 20px;
}
.whatwdo{
  padding-left: 16px;
  padding: 20px;
  border: 20px;
  margin: 20px;
   
}
.whatwdo>p{
  text-align:center;
}
.portfolio{
  padding: 20px;
  justify-content: center;
  border: 20px;
  margin: 20px;
  text-align: center;
}
.col{
  padding: 0px;
  margin: 0px;
}
.body{
  padding-left: 20px;
}
.row{
  column-gap: 16px;
  margin: 0.5cm;
  
}
.devp{
  display:none;
}
.prodp{
display:none;
}
.desp{
  display:none;
}
.footer{
  margin: 10px;
  padding: 20px;
}
#name{
  background-color: transparent;
  border-color: white;
  
}
#email{
  background-color: transparent;
  border-color: white;
}
#txtarea{
  background-color: transparent;
  border-color: white;
}
.btn{
  background-color: white;
  
}