.welcome{
  line-height: 2.5;
}
.bg-image{
  background-size: cover;

}
.text-center{
  line-height:200%

}
.msclick{
  text-align: center;
  line-height: 500%;
}
.form{
  text-align: center;
  color: white;
}
.contact{
  text-align: center;
  color: white;
}
.footer{
  text-align: center;
  text: size: 20px;
}
